.main-total-lable {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.total-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
}

.total-box {
  white-space: nowrap;
}

.total-box:last-child {
  margin-right: 10%;
}

.total-box:first-child {
  margin-left: 15%;
}

.total-input {
  border: none;
  width: 6vw;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 1.5vw;
  color: black;
}

.total-text {
  text-align: center !important;
}

.new-division-button {
  white-space: nowrap;
  border: none;
  margin-left: 5%;
}
