.app-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.total-lables {
  width: 100%;
  height: 15%;
  margin-bottom: 3%;
}

.tables {
  width: 100%;
  height: 85%;
}
